/* 匯入英文、中文字體 */
@import url("https://fonts.google.com/specimen/Roboto?query=roboto");

@import url("https://fonts.google.com/noto/specimen/Noto+Sans+TC");

/* declare layers in order of priority */
/* priority goes higher toward right */
@layer reset, base, navigation, components;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    overflow-x: hidden;
  }
}

@layer base {
  header {
    width: 100%;
    height: auto;
    background: #aa0601 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  main {
    --primary-color: #650300;
    --button-bg: #aa0601;
  }
}

@layer navigation {
  .nav {
    display: flex;
    justify-content: space-between;

    /* 版心: 1296 + 36 + 36  */
    max-width: 1368px;
    padding-inline: 36px;
    margin: 0 auto;
    /* 版心 END */
    width: 100%;
    height: 80px;
    line-height: 80px;
    /* overflow-x: hidden; */

    @media (max-width: 651px) {
      display: flex;
      flex-direction: column;
      height: auto;
      line-height: auto;
      /* max-width: 1336px; */

      padding-inline: 0;
      min-width: 375px;
    }

    & .logo {
      width: auto;
      display: block;

      @media (max-width: 651px) {
        width: 80px;
        padding-left: 16px;
      }

      & img {
        padding-block: 16px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        @media (max-width: 651px) {
          width: 80px;
        }
      }
    }
    & a:hover {
      transition: all 0.3s ease;
      transform: scale(1.5);
      cursor: pointer;
    }

    & .nav-links {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      @media (max-width: 651px) {
        flex-wrap: wrap;
      }

      & li {
        font-size: 20px;
        line-height: 30px;
        padding-left: 50px;
        list-style: none;
        color: #fff;
        /* 防止文字換行，保持單一行 */
        white-space: nowrap;

        @media (max-width: 651px) {
          font-size: 16px;
          line-height: 24px;
          border: 1px solid #fff;
          width: 50%;
          padding-left: 0;
          padding-block: 12px;
        }

        & a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: inherit;
        }
        & a:hover {
          transition: all 0.3s ease;
          transform: scale(1.5);
          cursor: pointer;
        }
      }
    }
  }
}

@layer components {
  @keyframes spin {
    0% {
      --angle: 0deg;
    }
    100% {
      --angle: 360deg;
    }
  }
  @property --angle {
    syntax:'<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  .blog {
    --post-textColor: #555555;

    /* 頭部導航 */
    & .sub-nav {
      background-color: #650300;
      @media (max-width: 651px) {
        display: none;
      }

      & .container {
        /* 版心: 1296 + 36 + 36  */
        max-width: 1368px;
        padding-inline: 36px;
        margin: 0 auto 80px;
        /* background-color: chocolate; */
        /* 版心 END */
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 56px;
        & ul {
          display: flex;
          justify-content: center;
          align-items: center;
          & li {
            display: flex;
            justify-content: center;
            align-items: center;

            & a {
              text-decoration: none; /* 移除底線 */
              color: #fff; /* 繼承父元素的顏色，移除預設藍色 */
              outline: none; /* 移除點擊時的輪廓線 */
              font-size: 20px;
              height: 30px;
              line-height: 30px;
              margin-right: 48px;
            }
            & a:hover {
              transition: all 0.3s ease;
              transform: scale(1.5);
              cursor: pointer;
            }
          }
        }

        & .icon-search {
          width: 40px;
          height: 40px;
          overflow: hidden;

          & a {
            & img {
              width: 100%;
              height: 100%;
              display: block;
            }
          }

          & a:hover img {
            transition: all 0.3s ease;
            transform: scale(1.5);
            cursor: pointer;
          }
        }
      }
    }
    /* 頭部導航 END */

    /* 主要內容 */
    & .container {
      /* 版心: 1296 + 36 + 36  */
      max-width: 1368px;
      padding-inline: 36px;
      margin: 0 auto 80px;
      /* background-color: chocolate; */
      /* 版心 END */
      & h1 {
        width: 100%;
        height: 72px;
        font-size: 48px;
        font-weight: bold;
        line-height: 72px;
        padding-left: 16px;
        /* background-color: chocolate; */
        margin-top: 80px;
        border-left: 8px solid #9f1213;
        margin-bottom: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media (max-width: 821px) {
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 24px;
          height: 36px;
        }

        @media (max-width: 651px) {
          margin-top: 40px;
        }
      }

      & .posts {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 60px;

        & .card {
          width: 100%;
          display: flex;
          justify-content: space-between;
          /* gap: 24px; */
          position: relative;

          @media (max-width: 651px) {
            flex-direction: column;
          }

          & .photo {
            width: fit-content;
            height: 400px;
            overflow: hidden;
            align-content: flex-start;
            flex: 1;
            @media (max-width: 821px) {
              height: 208px;
            }

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
            }
          }

          & .info {
            width: 100%;
            height: 400px;
            background-color: #fff;
            padding: 24px;
            overflow: hidden;
            flex: 1;
            @media (max-width: 821px) {
              height: 208px;
            }

            & h2 {
              width: 100%;
              font-size: 32px;
              height: 48px;
              line-height: 48px;
              color: var(--primary-color);
              @media (max-width: 821px) {
                font-size: 24px;
                line-height: 36px;
                height: 36px;
              }
            }

            & .title-detail {
              display: flex;
              justify-content: space-between;
              align-items: center;

              & h3 {
                font-size: 20px;
                height: 30px;
                line-height: 30px;
                @media (max-width: 821px) {
                  font-size: 16px;
                  height: 24px;
                  line-height: 24px;
                }
              }

              & .date {
                font-size: 16px;
                height: 24px;
                line-height: 24px;
                opacity: 0.7;
              }
            }

            & .text {
              font-size: 20px;
              line-height: 30px;
              margin-top: 16px;
              color: var(--post-textColor);
              @media (max-width: 821px) {
                font-size: 16px;
                line-height: 24px;
                /* 當長文超過指定換行行數時會截斷溢出 */
                display: -webkit-box;
                -webkit-line-clamp: 5; /* 指定顯示在螢幕上的行數，例如 5 行 */
                -webkit-box-orient: vertical;
                /* 隱藏溢出部分 */
                overflow: hidden;
                /* 文字溢出邊界時的替代符號 */
                text-overflow: ellipsis;
              }
              @media (max-width: 651px) {
                display: none;
              }

              /* # TODO more 的定位 */
              /* more */
              & .more {
                font-size: 36px;
                line-height: 54px;
                height: 100px;
                color: var(--primary-color);
                display: inline-block; /* 避免縮放影響周圍元素 */
                /* position: relative;
                top: 110px;
                left: 530px; */
                text-decoration: none; /* 移除底線 */
                outline: none; /* 移除點擊時的輪廓線 */
                cursor: pointer;
                @media (max-width: 821px) {
                  font-size: 16px;
                  line-height: 24px;
                  height: auto;
                  /* position: initial;
                  top: 0;
                  left: 0; */
                }
              }
              & .more:hover {
                /* 觸發動畫 */
                animation-name: bounceScale;
                animation-duration: 0.8s;
                animation-timing-function: ease;
              }

              @keyframes bounceScale {
                0% {
                  transform: scale(1);
                }
                100% {
                  transform: scale(1.5);
                }
              }
              /* more END */
            }
          }
        }

        & .card::after, .card::before {
          content: '';
          position: absolute;
          background: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
          /* background-color: blue; */
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
          padding: 3px;
          border-radius: 10px;
          animation-name: spin;
          animation-duration: 3s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }

        & .card::before {
          filter: blur(1.5rem);
          opacity: 0.5;
        }
      }
    }
    /* 主要內容 END */

    /* 分頁器 */
    & .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 80px;

      & .prev,
      .next,
      .page {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #555555;
      }
      & .prev,
      .next {
        width: 81px;
        height: 48px;
        font-size: 19px;
      }

      & .page {
        width: 42px;
        height: 48px;
        font-size: 18px;
      }
    }
    /* 分頁器 END */
  }

  .footer {
    width: 100vw;
    margin: 0 auto; /* 置中內部內容 */
    --button-bg: #aa0601;
    background-color: var(--button-bg);
    color: #fff;

    & .content {
      width: 100%;
      /* 1296 + 36 + 36 */
      max-width: 1368px;
      padding-inline: 36px;
      margin: 0 auto; /* 置中內部內容 */

      & .footer-links {
        width: 100%;

        display: flex;
        justify-content: space-between;
        padding-top: 48px;
        @media (max-width: 651px) {
          position: relative;
          padding-top: 24px;
        }

        & .left {
          width: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 48px;
          @media (max-width: 651px) {
            display: none;
          }

          & li {
            list-style: none;
            font-size: 16px;
            line-height: 24px;
            padding-right: 30px;

            @media (max-width: 821px) {
              padding-right: 10%;
            }
            word-break: keep-all;

            & a {
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              color: #fff;
            }
            & a:hover {
              transition: all 0.3s ease;
              transform: scale(1.5);
              cursor: pointer;
            }
          }
        }

        & .right {
          width: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          /* margin-top: 48px; */
          gap: 32px;

          @media (max-width: 821px) {
            gap: 16px;
          }

          @media (max-width: 651px) {
            gap: 8px;
            position: absolute;
            right: 0;
          }

          & .fb,
          .ig,
          .line {
            width: 48px;
            height: 48px;
            overflow: hidden; /* 裁切任何溢出內容 */
            display: block; /* 確保容器行為正常 */

            @media (max-width: 821px) {
              width: 40px;
              height: 40px;
            }
            @media (max-width: 651px) {
              width: 24px;
              height: 24px;
            }

            & a {
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              color: #fff;
              & img {
                width: 100%; /* 填滿容器寬度 */
                height: 100%; /* 填滿容器高度 */
                /* 移除底部間隙 */
                object-fit: cover;
                display: block;
              }
            }
          }
        }
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: #fff;
        }
        & a:hover {
          transition: all 0.3s ease;
          transform: scale(1.5);
          cursor: pointer;
        }
      }

      & .footer-contact {
        & .phone,
        .mail {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 8px;
        }

        & .img-container {
          width: 36px;
          height: 36px;
          overflow: hidden; /* 裁切任何溢出內容 */
          display: block; /* 確保容器行為正常 */
          margin-right: 16px;

          @media (max-width: 651px) {
            width: 18px;
            height: 18px;
          }

          & img {
            text-align: center;
            align-items: center;
            width: 100%; /* 填滿容器寬度 */
            height: 100%; /* 填滿容器高度 */
            /* 移除底部間隙 */
            object-fit: contain;
            display: block;
            margin-right: 20px;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
          }
        }
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: #fff;
        }
        & a:hover {
          transition: all 0.3s ease;
          transform: scale(1.2);
          cursor: pointer;
        }

        & p {
          font-size: 36px;
          line-height: 54px;
          @media (max-width: 651px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      & .divide {
        width: 100%;
        height: 1px;
        background-color: #fff;
        margin: 32px 0;
      }

      & .footer-copyright {
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;

        @media (max-width: 651px) {
          flex-direction: column;
        }

        & p {
          font-size: 16px;
          line-height: 24px;
          @media (max-width: 651px) {
            margin-bottom: 8px;
          }
        }

        & ul {
          display: flex;
          gap: 48px;

          @media (max-width: 651px) {
            flex-direction: column;
            align-items: start;
            gap: 8px;
          }

          & li {
            font-size: 14px;
            line-height: 21px;
            list-style: none;

            @media (max-width: 651px) {
              padding-left: 0;
              margin-block: 8px;
              font-size: 16px;
              line-height: 24px;
            }

            & a {
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              color: #fff;
            }
            & a:hover {
              transition: all 0.3s ease;
              transform: scale(1.5);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
